/* button */
.button-style {
display: inline-flex;
align-items: center;
cursor: pointer;
border-radius: 3px;
padding: 2px 16px;
height: 40px;
border: none;
color: #fff;
background-color: #cf9b25;
transition: background-color .17s ease,color .17s ease;
}

.button-style:hover {
  background-color: #b07b00; /* Change color on hover */

}

/*////////// Form  ////////////*/

.form {
   
    width: 500px;
    margin: 50px auto 0;
    background-color: #fcfcfc;
    padding: 20px 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
   
  }
  
  .form input {
    /* display: block; */
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

  .form textarea {

    /* display: block; */
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

  /* //////GalleryPage ///////*/
  .projectGalleryHeader {

    background-color:#cf9b25;
    color: azure;
    width: 100% 
  }



/* //////Image styling for porfolio  /////*/
  img {
    max-width: 100%; /* Ensure the image does not exceed its container's width */
    height: auto;   /* Maintain the aspect ratio */
    border: 1px solid black;
}